@import '../bower_components/angular-material/angular-material.scss';
@import 'base';
@import 'reset';

mp-view {
    > section {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    ui-view {
        transition: all 1s ease-out;
        &.ng-enter {
            transform: translateY(-100%);
            opacity: 0;
            transition-duration: 0.4s;
        }
        &.ng-enter-active {
            left: 0;
            transform: translateY(0);
            opacity: 1;
            transition-duration: 0.4s;
        }
        &.ng-leave {
            top: 0;
            opacity: 1;
        }
        &.ng-leave-active {
            top: 100%;
            opacity: 0;
        }
        &+ui-view {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    mp-module-list, mp-menu {
        position: relative;
        width: $sidenavWidth;
        transition: all 0.4s ease-out;
        opacity: 1;
        &.ng-hide {
            transform: translateX(100%);
            opacity: 0;
        }
        md-sidenav {
            //it's because angular-material styles have higher priority
            position: absolute !important;
            left: auto;
            top: 0;
            right: 0;
            bottom: 0;
            @extend .md-sidenav-right;
            @extend .md-whiteframe-z2;
            a {
                text-decoration: none;
            }
        }
        md-item-content {
            @extend .md-tile-content;
            padding: 0;
            > .md-button {
                width: 100%;
                text-align: left;
            }
        }
        mp-module-widget, mp-menu-item {
            @extend .md-button;
            text-transform: none;
            width: 100%;
            text-align: left;
            &.active {
                color: $primaryColor;
            }
        }
    }
}

//.module-section {
//	@include card($active: false);
//	display: inline-block;
//	vertical-align: top;
//	margin: 1*$baseLineHeight;
//	h1, h2, h3, h4, h5, h6, header {
//		font-weight: normal;
//		margin-bottom: 0.5*$baseLineHeight;
//	}
//}
//
//table {
//	border-collapse: collapse;
//	th {
//		border-bottom: 1px solid $primaryColor;
//	}
//	td, th {
//		padding: 0.125*$baseLineHeight 0.25*$baseLineHeight;
//	}
//}
//
//form {
//	label {
//		display: block;
//	}
//	input, button, textarea {
//		margin: 0.25*$baseLineHeight;
//		padding: 0.25*$baseLineHeight;
//		font-family: Ubuntu;
//		font-size: 1rem;
//	}
//	button, input[type="submit"] {
//		@include button;
//		float: right;
//		color: $secondaryColor;
//		border: 1px solid $secondaryColor;
//		background-color: $primaryColor;
//	}
//}
//
//ul, ol {
//	li {
//		margin-left: 2*$baseLineHeight;
//		padding-right: 1*$baseLineHeight;
//	}
//}
//
//@-webkit-keyframes hide {
//	0% {
//		opacity: 1;
//		transform: translateX(0);
//	}
//	40% {
//		opacity: 0.5;
//		transform: translateX(50%);
//	}
//	100% {
//		opacity: 0;
//		transform: translateX(100%);
//	}
//}
//
//@-webkit-keyframes show {
//	0% {
//		opacity: 0;
//		transform: translateX(100%);
//	}
//	40% {
//		opacity: 0.5;
//		transform: translateX(50%);
//	}
//	100% {
//		opacity: 1;
//		transform: translateX(0);
//	}
//}
//
//.centered {
//	text-align: center;
//	> * {
//		text-align: left;
//	}
//}