@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', Ubuntu, Verdana;
  font-size: 12pt;
  line-height: 15pt;
  color: #00458f;
  background-color: white; }

a {
  color: inherit; }

my-place-module-list {
  width: 210pt;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #006ab0;
  color: white;
  padding: 15pt;
  padding-left: 22.5pt;
  padding-right: 0;
  box-shadow: 2px 0 7.5pt 0 rgba(0, 0, 0, 0.5) inset; }
  my-place-module-list h3 {
    display: none; }
  my-place-module-list ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 45pt;
    position: relative;
    top: 7.5pt;
    margin-bottom: 7.5pt;
    transition: background-color 0.2s linear; }
    my-place-module-list ul li:before {
      content: ' ';
      position: absolute;
      left: 0pt;
      top: 0pt;
      bottom: 0pt;
      width: 45pt;
      background-color: #006ab0; }
    my-place-module-list ul li:after {
      content: ' ';
      position: absolute;
      left: 0pt;
      top: 0pt;
      bottom: 0pt;
      width: 45pt;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      background-color: transparent;
      transition: background-color 0.2s linear; }
    my-place-module-list ul li.active a:after {
      border-left: 15pt solid white; }
    my-place-module-list ul li:hover, my-place-module-list ul li.active {
      background-color: #00458f; }
      my-place-module-list ul li:hover:after, my-place-module-list ul li.active:after {
        background-color: #00458f; }
    my-place-module-list ul li a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 15pt;
      padding-left: 0; }
      my-place-module-list ul li a:before {
        z-index: 1;
        content: ' ';
        position: absolute;
        left: 7.5pt;
        top: 7.5pt;
        width: 30pt;
        height: 30pt;
        border-radius: 50%;
        background-color: white; }
      my-place-module-list ul li a:after {
        content: ' ';
        background-color: transparent;
        display: block;
        width: 0pt;
        height: 0pt;
        border-left: 15pt solid transparent;
        border-top: 10.5pt solid transparent;
        border-bottom: 10.5pt solid transparent;
        border-right: 15pt solid transparent;
        position: absolute;
        left: -22.5pt;
        top: 13.5pt;
        transition: all 0.2s linear; }

my-place-menu {
  width: 225pt;
  position: fixed;
  top: 0;
  right: 240pt;
  bottom: 0;
  padding: 15pt;
  padding-right: 0; }
  my-place-menu.ng-hide-remove {
    -webkit-animation: 0.2s show; }
  my-place-menu.ng-hide-add {
    -webkit-animation: 0.2s hide; }
  my-place-menu ul.extension {
    margin-top: 7.5pt;
    padding-top: 7.5pt;
    border-top: 1px solid #006ab0; }
  my-place-menu ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 15pt; }

.my-place-content {
  margin-top: 15pt;
  margin-right: 465pt;
  display: block; }
  .my-place-content:after {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1em;
    box-shadow: 2px 0 3.75pt 0 rgba(0, 0, 0, 0.5);
    color: transparent;
    content: ' ';
    transition: all 0.2s ease-out 0; }
  .my-place-content:before {
    z-index: 1;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1em;
    color: transparent;
    background-color: white;
    content: ' ';
    transition: all 0.2s ease-out 0; }
  .my-place-content.no-menu {
    margin-right: 240pt; }
    .my-place-content.no-menu:after {
      opacity: 0;
      right: 240pt; }
    .my-place-content.no-menu:before {
      opacity: 0;
      right: 240pt; }
  .my-place-content:after {
    right: 480pt; }
  .my-place-content:before {
    right: 487.5pt; }

.module-section {
  box-shadow: 0em 1px 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin: 7.5pt;
  padding: 7.5pt;
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 100;
  display: inline-block;
  vertical-align: top;
  margin: 15pt; }
  .module-section h1, .module-section h2, .module-section h3, .module-section h4, .module-section h5, .module-section h6, .module-section header {
    font-weight: normal;
    margin-bottom: 7.5pt; }

table {
  border-collapse: collapse; }
  table th {
    border-bottom: 1px solid #006ab0; }
  table td, table th {
    padding: 1.875pt 3.75pt; }

form label {
  display: block; }
form input, form button, form textarea {
  margin: 3.75pt;
  padding: 3.75pt;
  font-family: Ubuntu;
  font-size: 1rem; }
form button, form input[type="submit"] {
  box-shadow: 0em 1px 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border-color: #006ab0;
  transition: all 0.2s ease-out;
  padding: 3.75pt 7.5pt;
  float: right;
  color: white;
  border: 1px solid white;
  background-color: #006ab0; }
  form button:hover, form button.active, form input[type="submit"]:hover, form input[type="submit"].active {
    transform: translate(0, -2px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5); }

ul li, ol li {
  margin-left: 30pt;
  padding-right: 15pt; }

@-webkit-keyframes hide {
  0% {
    opacity: 1;
    transform: translateX(0); }

  40% {
    opacity: 0.5;
    transform: translateX(50%); }

  100% {
    opacity: 0;
    transform: translateX(100%); } }
@-webkit-keyframes show {
  0% {
    opacity: 0;
    transform: translateX(100%); }

  40% {
    opacity: 0.5;
    transform: translateX(50%); }

  100% {
    opacity: 1;
    transform: translateX(0); } }
.centered {
  text-align: center; }
  .centered > * {
    text-align: left; }
