@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic&subset=latin,cyrillic,latin-ext,vietnamese,greek,greek-ext,cyrillic-ext);
@import '../bower_components/angular-material/angular-material';
@import '../bower_components/angular-material-internal/src/core/style/variables';
@import '../bower_components/angular-material-internal/src/core/style/mixins';
@import '../bower_components/angular-material-internal/src/core/style/layout';
@import '../bower_components/angular-material-internal/src/core/style/structure';
@import 'base';
@import 'reset';

body {
    background-color: $background;
}

mp-view {
    > section {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .view-wrapper {
        position: relative;
        overflow: auto;
    }
    ui-view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.2s ease-out;
        background-color: $background;
        &.ng-enter {
            transform: translateY(-200%);
            opacity: 0;
            transition-delay: 0.5s;
        }
        &.ng-enter-active {
            left: 0;
            transform: translateY(0);
            opacity: 1;
            transition-delay: 0.5s;
        }
        &.ng-leave {
            top: 0;
            opacity: 1;
        }
        &.ng-leave-active {
            top: 50%;
            opacity: 0;
        }
        &.no-menu {
            &.ng-enter, &.ng-enter-active {
                transition-delay: 0.2s;
            }
        }
    }
    mp-module-list, mp-menu {
        position: relative;
        width: $sidenavWidth;
        transition: all 0.2s ease-out;
        transition-delay: 0.2s;
        opacity: 1;
        &.ng-hide {
            transform: translateX(100%);
            opacity: 0;
        }
        md-sidenav {
            //it's because angular-material styles have higher priority
            position: absolute !important;
            left: auto;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            @extend .md-sidenav-right;
            @extend .md-whiteframe-z2;
            a {
                text-decoration: none;
            }
        }
        md-item-content {
            @extend .md-tile-content;
            padding: 0 0 0 0;
            > .md-button {
                padding-left: 1em;
                width: 100%;
                text-align: left;
            }
        }
        mp-module-widget, mp-menu-item {
            @extend .md-button;
            position: static;
            text-transform: none;
            width: 100%;
            text-align: left;
            &.active {
                color: $primaryColor;
            }
        }
    }
}

md-card {
    background-color: white;
}

//.module-section {
//	@include card($active: false);
//	display: inline-block;
//	vertical-align: top;
//	margin: 1*$baseLineHeight;
//	h1, h2, h3, h4, h5, h6, header {
//		font-weight: normal;
//		margin-bottom: 0.5*$baseLineHeight;
//	}
//}
//
//table {
//	border-collapse: collapse;
//	th {
//		border-bottom: 1px solid $primaryColor;
//	}
//	td, th {
//		padding: 0.125*$baseLineHeight 0.25*$baseLineHeight;
//	}
//}
//
//form {
//	label {
//		display: block;
//	}
//	input, button, textarea {
//		margin: 0.25*$baseLineHeight;
//		padding: 0.25*$baseLineHeight;
//		font-family: Ubuntu;
//		font-size: 1rem;
//	}
//	button, input[type="submit"] {
//		@include button;
//		float: right;
//		color: $secondaryColor;
//		border: 1px solid $secondaryColor;
//		background-color: $primaryColor;
//	}
//}
//
//ul, ol {
//	li {
//		margin-left: 2*$baseLineHeight;
//		padding-right: 1*$baseLineHeight;
//	}
//}
//
//@-webkit-keyframes hide {
//	0% {
//		opacity: 1;
//		transform: translateX(0);
//	}
//	40% {
//		opacity: 0.5;
//		transform: translateX(50%);
//	}
//	100% {
//		opacity: 0;
//		transform: translateX(100%);
//	}
//}
//
//@-webkit-keyframes show {
//	0% {
//		opacity: 0;
//		transform: translateX(100%);
//	}
//	40% {
//		opacity: 0.5;
//		transform: translateX(50%);
//	}
//	100% {
//		opacity: 1;
//		transform: translateX(0);
//	}
//}
//
//.centered {
//	text-align: center;
//	> * {
//		text-align: left;
//	}
//}